main {
    padding-top: 140px;
   
}

.signup-title {
    text-align: center;
    font-size: 2rem;
    color: yellow;
}

.signup-form {
    padding: 2rem;
    display: grid;
}

.signup-form label {
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}


.signup-form label a {
    color: red;
}

.signup-page {
    min-height: calc(100vh -3.5rem - 8rem);
   
   }

    .signup-form label,
    .signup-form input,
    .signup-form select {
        display: block;
         }

    .signup-form input[id*="terms"],
    .signup-form input[id*="terms"] + label {
        display: inline-block;
        width: auto;
      }

    .signup-form input:not([type="checkbox"]),
    .signup-form select {
        border: 1px solid blueviolet;
        padding: 0.2rem 0.5rem;
        font: inherit;
    }

    .signup-form input:not([type="checkbox"]):focus,
    .signup-form select:focus {
        outline: none;
        background: #d8f3df;
        border-color: green;
    }

    .signup-form input[type="checkbox"] {
        border: 1px solid #ccc;
        background: white;
        width: 1rem;
        height: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .signup-form input[type="checkbox"]:checked {
        background: red;
        border: #0e4f1f;
    }

    .signup-form input.invalid,
    .signup-form select.invalid {
     border-color: red;
     background: #faacac;
    }


    .signup-form button[type="submit"] {
        display: block;
        }

        @media (min-width: 40rem) {
            .signup-form {
                margin: auto;
                width: 30rem;
                grid-template-columns: 10rem auto;
                grid-row-gap: 1rem;
                grid-column-gap: 0.5rem;
            }

            .signup-form__checkbox {
                grid-column: span 2;
            }
        }

  

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 20rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}
  
.background1 {
    background: url("https://misteryofdarkness.github.io/forjupiter/images/Avengersnew.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0% -8%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}


#errorMessage {
    color: yellow;
    font-size: 2rem;
    display: inline-block;
    font-weight: bold;
    margin-left: 50px;
}

#successMessage {
    color: yellow;
    font-size: 3rem;
    display: none;
    font-weight: bold;
    margin-left: 50px;
}