@define-mixin atSmall {
    @media (min-width: 530px){
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px){
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1200px){
        @mixin-content;
    }
}


.page-section {
    padding: 1.2rem 0;
    margin-top: 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: Darkblue;
        color: #FFF;
    }
}


    
     
    
    
