

@define-mixin atSmall {
    @media (min-width: 530px){
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px){
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1200px){
        @mixin-content;
    }
}

@mixin atMedium {

.rowek__medium-8 {
    float: left;
    width: 80%;

}

.rowek__medium-4 {
    float: left;
    width: 40%;
   }

 
}

@mixin atSmall {
    font-size: 1rem;
  }
  
 


  @mixin atMedium {
    font-size: 1.4rem;
  }

  @mixin atLarge {
    font-size: 1.8rem;
  }



  
    .front-text {
            position: absolute;
            top: 0;
            transform: translateY(-10%);
            left: 0;
            margin-top: 120px;
            width: 100%;
            font-weight: 2000;
            text-align: center;
            color: yellow;
            font-size: 0.5rem;
            
             @media (min-width: 530px) {
              font-size: 1rem;
             }

             @media (min-width: 800px) {
              font-size: 1.4rem;
             }
           
             @media (min-width: 800px) {
              font-size: 1.8rem;
             }
    }
